@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.bg-highlights {
  background-image: url("../public/images/highlights.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-boards {
  background-image: url("../public/images/boards.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-kanban-card {
  background-image: url("../public/images/kanban-card.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


